* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body,
html {
  height: 100%;
} */


.about {
  flex: auto;
  padding: 5rem;
  margin-top: -6rem;
}



.photo {
  width: 20rem;
  padding: 5rem;
  padding-right: 5rem;
}

.image {
  max-height: 20rem;
  padding-left: 15rem;
}

.about-text {
  padding: 5rem;
  color: aqua;
}

.about-container{
    border: 5px red solid;
    width: 50%
}

.photo{
    align-items: self-start;
}



.about-para{
  text-indent: 55px;
}